pandas
google-generativeai
python-dotenv
rich
google-genai
mem0ai
psycopg2-binary
dotenv
rich
Pillow
pytesseract
pdf2image
vertexai
flask
flask_cors
Flask[async]
fuzzywuzzy
gunicorn
waitress
uvicorn
flask
flask-cors
python-Levenshtein